# DO NOT DELTE, or alter any entries this file!
# Appending to this file is authorized
# This repo file will not affect your current patching cyle
# No packages from these repos will be used during any yum/rpm operations
# These empty repos are need for insights to report accurate CVE and RHSA data

[rhel-{{ ansible_distribution_major_version }}-server-rpms]
enabled = 1
name = empty_insights_server_repo
skip_if_unavailable = 1
keepcache = 0

[rhel-{{ ansible_distribution_major_version }}-server-eus-rpms]
enabled = 1
name = Empty_insights_eus_repo
skip_if_unavailable = 1
keepcache = 0

[rhel-server-rhscl-{{ ansible_distribution_major_version }}-rpms]
enabled = 1
name = Empty_insights_rhscl_repo
skip_if_unavailable = 1
keepcache = 0
